:root {
  --bg-main: #fafafa;
  --bg-alt: #f2f2f2;
  --text-main: #333;
  --font-body: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
  --font-display: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual,
    cursive;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: var(--font-body);
}

.page__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  width: 120px;
  width: max(110px, 7vw);
}

.header__title {
  font-family: var(--font-display);
  font-weight: normal;
}

.main {
  flex: 1;
}

.cards {
  width: min(80ch, 100vw - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}

.card {
  text-decoration: none;
  color: var(--text-main);
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  gap: 20px;
  max-width: 65ch;
}

.card:hover {
  transform: translateX(-20px);
  transition: transform ease 0.1s;
}

.card:active {
  transform: translateX(-40px);
  transition: transform ease 0.1s;
}

.card__img {
  border-radius: 8px;
  max-height: 100%;
}

.card__desc {
  font-weight: normal;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.card__title {
  margin: 0;
  font-size: clamp(15px, 3vw, 20px);
}

.card__para {
  margin: 0;
  font-size: clamp(12px, 3.5vw, 16px);
}

.footer {
  background-color: var(--bg-alt);
  margin-top: 1.25rem;
  width: 100%;
  padding: 0.625rem;
}

.footer__list {
  max-width: 65ch;
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list > li:hover {
  transform: scale(1.05);
}

.footer__link:link,
.footer__link:visited {
  color: var(--text-main);
  text-decoration: none;
}
