html,
body {
  height: 100%;
}

body {
  background-color: #fafafa;
}

:root {
  --primary-text-color: #333;
  --header-font: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual,
    cursive;
  --content-font: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
}

.page__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  width: 120px;
  width: max(110px, 7vw);
}

.header__title {
  color: var(--primary-text-color);
  font-family: var(--header-font);
  font-weight: normal;
}

.main {
  flex: 1;
}

.cards {
  width: min(80ch, 100vw - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}

.card {
  text-decoration: none;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  gap: 20px;
  max-width: 65ch;
}

.card:hover {
  transform: translateX(-20px);
  transition: transform ease 0.1s;
}

.card:active {
  transform: translateX(-40px);
  transition: transform ease 0.1s;
}

.card__img {
  border-radius: 8px;
  max-height: 100%;
}

.card__desc {
  color: var(--primary-text-color);
  font-family: var(--content-font);
  font-weight: normal;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.card__title {
  margin: 0;
  font-size: clamp(15px, 3vw, 20px);
}

.card__para {
  margin: 0;
  font-size: clamp(12px, 3.5vw, 16px);
}

.footer {
  margin-top: 20px;
  width: 100%;
  font-family: var(--content-font);
  background-color: hsl(0, 0%, 95%);
  padding: 10px;
}

.footer__list {
  width: min(80ch, 100vw - 2rem);
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0;
  max-width: 65ch;
}

.footer__item {
  &:hover {
    transform: scale(1.05);
  }

  & > a:link {
    color: #333;
    text-decoration: none;
  }

  & > a:visited {
    color: #333;
  }
}
