html,
body {
  height: 100%;
}

body {
  background-color: #fafafa;
}

:root {
  --primary-text-color: #333;
  --header-font: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual,
    cursive;
  --content-font: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
}

.page__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  width: 120px;
  width: max(110px, 7vw);
}

.header__title {
  color: var(--primary-text-color);
  font-family: var(--header-font);
  font-weight: normal;
}
